{% extends "base.html" %}
{% block content %}
  <main class="hero-section">
    <div class="container">

      <div class="section-content">
        <h2>Transform & Store Images in the cloud.</h2>
        <a href="{{ url_for('signup') }}" class="btn-primary">Sign up</a>
        <a href="{{ url_for('login') }}" class="btn-primary">Login</a>
      </div>

      <div class="section-device">
        <img src="static/img/cloudcomputing.png">
      </div>

      <div class="clearfix"></div>
    </div>
  </main>
    <!-- <ul>
        <li><a href="{{url_for('upload_form')}}">File Upload</a></li>
        <li><a href="{{url_for('image_form')}}">Image Transform</a></li>
    </ul> -->

{% endblock %}